{% load static %}
<section id="about" class="about-us padding-section">
    <div class="grid-row">
        <div class="grid-col-row clear">
            <div class="grid-col grid-col-6 col-sd-12">
                <!-- section title -->
                <div class="title">
                    <span class="main-title">ABOUT US</span>
                    <span class="slash-icon">/<!-- <i class="fa fa-angle-double-right"></i> --></span><br/>
                    A CREATIVE <br/>DESIGN STUDIO
                </div>
                <!-- section title -->
                <dl>
                    <dt>Suspendisse interdum tortor augue, in tempus urna ultricies</dt>
                        <dd>Vivamus fringilla eu nisl non laoreet. Nunc nec faucibus arcu, quis pretium odio. Nullam non turpis imperdiet, venenatis felis id, fermentum urna. </dd>
                    <dt>Praesent varius justo ac rhoncus convallis. Aenean congue</dt>
                        <dd>Quisque ultricies elementum quam eget eleifend. Fusce ac est ut nisl scelerisque imperdiet. Donec vel tristique neque, vel viverra mi. </dd>
                    <dt>Nulla hendrerit posuere nisl vitae sollicitudin.</dt>
                        <dd>Duis diam urna, venenatis eu felis in, pulvinar consequat sem. Proin accumsan</dd>
                </dl>
                
            </div>
            <div class="grid-col grid-col-6 content-img col-sd-12">
                <img class="ipad" src={% static "images/ipad.png" %} alt>
                <img id="splash-1" src={% static "img/splash-1.png" %} alt>
                <img id="splash-2" src={% static "img/splash-2.png" %} alt>
            </div>
        </div>
    </div>
    <hr/>
    <div class="grid-row clear">
        <div class="grid-col-row">
                <div class="item-example grid-col grid-col-3">
                    <div class="rectangle"><i class="fa fa-video-camera"></i></div>
                    <h3>VIDEO PRODUCTION</h3>
                    <div class="line"></div>
                    <p>Proin accumsan augue a risus laoreet, sed malesuada lacus faucibus.</p>
                </div>
                <div class="item-example grid-col grid-col-3">
                    <div class="rectangle"><i class="fa fa-rocket"></i></div>
                    <h3>STRATEGIC BRANDING</h3>
                    <div class="line"></div>
                    <p>Pellentesque massa quam, pharetra sit amet odio vitae, ornare fermentum</p>
                </div>
                <div class="item-example grid-col grid-col-3">
                    <div class="rectangle"><i class="fa fa-image"></i></div>
                    <h3>WEBSITE DESIGN</h3>
                    <div class="line"></div>
                    <p>Aenean laoreet non odio vel auctor. Quisque malesuada feugiat metus</p>
                </div>
                <div class="item-example grid-col grid-col-3">
                    <div class="rectangle"><i class="fa fa-gamepad"></i></div>
                    <h3>GAME DESIGN</h3>
                    <div class="line"></div>
                    <p>Proin accumsan augue a risus laoreet, sed malesuada lacus faucibus.</p>
                </div>
        </div>
    </div>
</section>