{% load static %}
<section id="contact" class="contact padding-section">
    <div class="contact-head">
        <div class="grid-row">
            <div class="title">
                <span class="main-title">CONTACT</span> <span class="slash-icon">/<!-- <i class="fa fa-angle-double-right"></i> --></span> <h5>GET IN TOUCH WITH US</h5>
            </div>
        </div>
    </div>	
        <div class="grid-row clear">
            <div class="grid-contact">
                <i class="fa  fa-globe"></i>
                <div class="contact-content">
                    <div class="kind-contact">Where we are:</div>
                    <p>1202 Something St.,<br/>Country 6000</p>
                </div>
            </div>
            <div class="grid-contact">
                <i class="fa fa-phone"></i>
                <div class="contact-content">
                    <div class="kind-contact">Customer Care:</div>
                    <p><a href="tel:1234567890">1234-5678-90</a></p>
                </div>
            </div>
            <div class="grid-contact">
                <i class="fa fa-envelope-o"></i>
                <div class="contact-content">
                    <div class="kind-contact">General Email:</div>
                    <p><a href="mailto:kalfimov@gmail.com">support@splasges.com</a></p>
                </div>
            </div>
            <div class="grid-contact">
                <i class="fa  fa-power-off"></i>
                <div class="contact-content">
                    <div class="kind-contact">Work Time:</div>
                    <p>Mon. - Fri. 09:00 - 24:00</p>
                </div>
            </div>
        </div>
        <div class="map" style="height: 100px;">
            <!-- <div id="map" class="google-map"></div> -->
        </div>
        {% include "components/subscribe.html" %}
</section>