{% load static %}
<section id="innovation" class="innovation parallaxed">
    <div class="parallax-image" data-parallax-left="0.5" data-parallax-top="0.3" data-parallax-scroll-speed="0.5">
        <img src={% static "images/parallax-3.jpg" %} alt="">
    </div>
    <div class="grid-row">
        <div class="parallax-content-third">
            <div id="client-carousel" class="owl-carousel">
                <div>
                    <p class="testimonial-title">TESTIMONIALS</p>
                    <div class="testimonial-separator"></div>
                    <p class="testimonial-text">“Thank goodness I was never sent to school; it would have rubbed off some of the originality.; it would have rubbed off some of the originality.”</p>
                    <p class="testimonial-author">- BEATRIX POTTER, AUTHOR</p>
                </div>
                <div>
                    <p class="testimonial-title">TESTIMONIALS</p>
                    <div class="testimonial-separator"></div>
                    <p class="testimonial-text">“Thank goodness I was never sent to school; it would have rubbed off some of the originality.”</p>
                    <p class="testimonial-author">- BEATRIX POTTER, AUTHOR</p>
                </div>
                <div>
                    <p class="testimonial-title">TESTIMONIALS</p>
                    <div class="testimonial-separator"></div>
                    <p class="testimonial-text">“Thank goodness I was never sent to school; it would have rubbed off some of the originality.”</p>
                    <p class="testimonial-author">- BEATRIX POTTER, AUTHOR</p>
                </div>
            </div>
        </div>
    </div>
</section>