{% load static %}
<section class="text-section parallaxed">
    <div class="parallax-image" data-parallax-left="0.5" data-parallax-top="0.3" data-parallax-scroll-speed="0.5">
        <img src={% static "images/parallax-2.jpg" %} alt="">
    </div>
    <div class="grid-row">
        <div class="parallax-content-second">
            <div class="grid-col-row clear">
                <div class="grid-col grid-col-3">
                    <div class="counter-block">
                        <i class="fa fa-puzzle-piece"></i>
                        <div class="counter" data-count="675"></div>
                        <div class="counter-name">Creative Work</div>
                    </div>
                </div>
                <div class="grid-col grid-col-3">
                    <div class="counter-block">
                        <i class="fa fa-group"></i>
                        <div class="counter" data-count="945"></div>
                        <div class="counter-name">Satisfied Clients</div>
                    </div>							
                </div>
                <div class="grid-col grid-col-3">
                    <div class="counter-block">
                        <i class="fa fa-calendar"></i>
                        <div class="counter" data-count="756"></div>
                        <div class="counter-name">Working Days</div>
                    </div>
                </div>
                <div class="grid-col grid-col-3">
                    <div class="counter-block last">
                        <i class="fa fa-coffee"></i>
                        <div class="counter" data-count="859"></div>
                        <div class="counter-name">Cups Of Coffe</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>