{% load static %}
<footer id="footer">
    <div class="grid-row clear">
        <div class="footer">
            <div id="copyright">Copyright<span> Splashes</span> 2016-All Rights Reserved</div>
            <a href={% url 'home' %} class="footer-logo"><img src={% static "images/logo.png" %} alt=""></a>
            <div class="social">
                <a href="#"><div class="contact-round"><i class="fa fa-twitter"></i></div></a>
                <a href="#"><div class="contact-round"><i class="fa fa-facebook"></i></div></a>
                <a href="#"><div class="contact-round"><i class="fa fa-skype"></i></div></a>
                <a href="#"><div class="contact-round"><i class="fa fa-rss"></i></div></a>
                <a href="#"><div class="contact-round"><i class="fa fa-linkedin"></i></div></a>
            </div>
        </div>
    </div>
</footer>